



header{
    .hero-img{
      
        .squigly-line{
            position: absolute;
            z-index: 2;
            left: 59%;
            top: 17%;
            transform: translate(-50%, -50%);
            transform: rotate(16deg);
            max-width: 4em;
            animation: fadeIn 5s; 
            -webkit-animation: fadeIn 5s linear infinite;
  -moz-animation: fadeIn 5s linear infinite;
  -o-animation: fadeIn 5s linear infinite;
  -ms-animation: fadeIn 5s linear infinite;
        
        }
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-moz-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-webkit-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-o-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-ms-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
        .squigly-line:hover{
            opacity:0.2;
        }
        
            
     
       
       
        .img_hero{
            position:relative;
           
        }
        
        
    }
    .content-header{
        h1.font-logo{
            font-family: "oswald";
            color: #dd3e03;
            text-align:center;
            font-weight: 400;
            padding: 0rem 4%;
            margin: auto;
            margin-top: 1rem;
            span.font-logo_span {
              font-size:clamp(1.3rem, 3vw, 2rem);
          }
        }
        h3{
            font-family: "oswald";
            color: #dd3e03;
            text-align: center;
            font-weight: 350;
            margin: auto;
            padding: 0 1.7em;
        }

    }

}
@media screen and (min-width:390px){
  header .content-header h1.font-logo span.font-logo_span {
      font-size:clamp(1.7rem, 3vw, 2rem);
  }
}
@media screen and (min-width:412px){
  header .content-header h1.font-logo span.font-logo_span {
      font-size:clamp(1.7rem, 3vw, 2rem);
  }
}
@media screen and (min-width:480px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: 20%;
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(4em, 3vw, 5.4rem);
    
  }
}}
}
@media screen and (min-width:525px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: clamp(24%, 3vw, 30%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(5em, 3vw, 5.4rem);
    
  }
}}
}
@media screen and (min-width:630px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: clamp(26%, 3vw, 35%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    
    max-width: clamp(5em, 3vw, 5.4rem);
    
  }
  
}}
}
@media screen and (min-width:700px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: clamp(28%, 3vw, 40%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    
    max-width: clamp(5em, 3vw, 5.4rem);
    
  }
  
}}
}
@media screen and (min-width:780px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: clamp(30%, 3vw, 45%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    
    max-width: clamp(6em, 3vw, 10.4rem);
    
  }
  
}}
}
@media screen and (min-width:820px){
  header{
    .hero-img{
  .squigly-line{
    position: absolute;
    z-index: 2;
    left: 59%;
    top: clamp(32%, 3vw, 50%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(7em, 3vw, 13rem);
    
  }
  
}}
}
@media screen and (min-width:820px){
  header{
    .hero-img{
      max-width: clamp(87%, 3vw, 99%);
      margin: auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 55%;
    top: clamp(34%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}

@media screen and (min-width:850px){
  header{
    .hero-img{
      max-width:clamp(80%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 55%;
    top: clamp(28%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:997px){
  header{
    .hero-img{
      max-width:clamp(70%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(31%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1024px){
  header{
    .hero-img{
      max-width:clamp(70%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(42%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1172px){
  header{
    .hero-img{
      max-width:clamp(68%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(44%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1291px){
  header{
    .hero-img{
      max-width:clamp(62%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(30%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1438px){
  header{
    .hero-img{
      max-width:clamp(55%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(30%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1540px){
  header{
    .hero-img{
      max-width:clamp(50%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(30%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1650px){
  header{
    .hero-img{
      max-width:clamp(47%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 56%;
    top: clamp(30%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1712px){
  header{
    .hero-img{
      max-width:clamp(45%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 54%;
    top: clamp(30%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}
@media screen and (min-width:1846px){
  header{
    .hero-img{
      max-width:clamp(40%, 3vw, 95%);
      margin:auto;
     .squigly-line{
    position: absolute;
    z-index: 2;
    left: 54%;
    top: clamp(33%, 3vw, 55%);
    transform: translate(-50%, -50%);
    transform: rotate(16deg);
    max-width: clamp(8em, 3vw, 15rem);
    
  }
}
  
  
  }
}